# Dependencies
node_modules/

# Build output
dist/
release/

# Electron builder cache
.cache/

# TypeScript build info
*.tsbuildinfo

# Logs
npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env.local
